.file-action-button {
    border: none;
    color: white;
    padding: 5px 10px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background: var(--accent-color);
    transition: all 0.1s ease-in-out;
}

.file-action-button:hover {
    background-color: white;
}

.file-action-button:hover svg path {
    stroke: var(--accent-color);
}

.delete-button {
    background: red !important;
}

.delete-button:hover {
    background: darkred !important;
    stroke: white !important;
}

.delete-button:hover svg path {
    stroke: white !important;
}

