.file-card-wrapper {
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    overflow-y: hidden !important;
}

.file-card-wrapper:hover .file-card-image {
    filter: brightness(0.8);
}

.file-card-wrapper:hover .file-card-name {
    display: flex;
    animation: file-card-fade-top 0.15s ease-in-out forwards;
}

.file-card-wrapper:hover .file-card-actions-wrapper {
    display: flex;
    animation: file-card-fade-bottom 0.15s ease-in-out forwards;
}

.file-card-wrapper:hover .video-file-mark {
    display: flex;
    animation: file-card-fade-bottom 0.15s ease-in-out forwards;
}

.file-card-image {
    width: 100%;
    border-radius: 5px;
    transition: filter 0.15s ease-in-out;
    position: relative;
}

.file-card-name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    display: none;
    transform: translateY(-30px);
}

.file-card-actions-wrapper {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translateY(30px);
    display: none;
}

.video-file-mark {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 50px;
    transform: translateY(30px);
    display: none;
}

@keyframes file-card-fade-top {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes file-card-fade-bottom {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    .file-card-actions-wrapper {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
        transform: translateY(0);
    }

    .file-card-wrapper:hover .file-card-image {
        filter: none;
    }

    .file-card-actions-wrapper button svg {
        width: 25px;
        height: 25px;
    }

    .file-card-wrapper:hover .file-card-name {
        display: none;
        animation: none;
    }
    
    .file-card-wrapper:hover .file-card-actions-wrapper {
        animation: none;
    }
    
    .file-card-wrapper:hover .video-file-mark {
        animation: none;
    }

    .file-card-name {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
        display: none;
        transform: translateY(0);
    }
    
}
