.file-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    justify-content: space-between;
}

.file-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.file-image,
.file-video,
.file-iframe {
    max-height: 250px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.file-information-wrapper {
    padding: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--accent-color)
}

.info-section {
    display: flex;
    flex-direction: column;
}

.info-header {
    font-weight: 700;
}

.info-value {
    color: black;
    opacity: 0.9;
}

@media screen and (max-width: 950px) {

}

@media screen and (max-width: 600px) {
    .file-wrapper {
        width: 100%;
    }

    .file-image,
    .file-video,
    .file-iframe {
        min-width: 100%;

    }
}
