.container {
    width: 100%;
    gap: 10px;
    padding: 20px;
  }
  
  .folder {
    width: min-content;
    margin: auto;
    animation: float 2s infinite ease-in-out;
  }
  
  .folder .top {
    background: var(--accent-gradient);
    width: 60px;
    height: 12px;
    border-top-right-radius: 10px;
  }
  
  .folder .bottom {
    background: var(--accent-gradient);
    width: 100px;
    height: 70px;
    box-shadow: 5px 5px 0 0 #283149;
    border-top-right-radius: 8px;
  }
  
  .container .title {
    font-size: .9em;
    color: #283149;
    text-align: center;
    margin-top: 15px;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
  
    50% {
      transform: translatey(-25px);
    }
  
    100% {
      transform: translatey(0px);
    }
  }
  
  