.visibility-options {
    display: flex;
    gap: 10px;
}

.visibility-option {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
    box-shadow: var(--box-shadow);
    transition: background-color 0.1s ease-in-out;
}

.visibility-option:hover {
    background-color: lightgray;
}

.selected-visibility-option {
    font-weight: 500;
}