.file-page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.file-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
}

.file-info-image {
    max-height: 550px;
    border-radius: 5px;
    max-width: 70%;
    box-shadow: var(--box-shadow);
}

.file-info-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-title {
    font-size: 0.8em;
    color: var(--accent-color);
    margin-bottom: 5px;
    font-weight: 600;
}

.detail-value {
    font-size: 0.9em;
    opacity: 0.8;
}

.file-info-actions {
    display: flex;
    flex-direction: column;
}

.file-info-actions div {
    display: flex;
    gap: 10px;
}

.related-files-wrapper {
    min-width: 100%;
}

.related-files-wrapper h2 {
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {

    .file-page {
        min-width: 100%;
        margin-top: 0px;
        gap: 20px;
    }

    .file-info-wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .file-info-image {
        max-width: 100%;
    }

    .file-info-details {
        width: 95%;
    }

    .related-files-wrapper h2 {
        margin-bottom: 5px;
        
    }
}