.home-page {
    min-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 10px;
}

.header span {
    font-size: 1.3rem;
    font-weight: 500;
}

.popular-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.popular-tag {
    flex: 1;
    cursor: pointer;
    text-align: center;
    padding: 5px 10px !important;
    text-wrap: nowrap;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
    font-size: 0.9em !important;
    background: white !important;
    color: var(--accent-color) !important;
    background-color: var(--bg-secondary) !important;
}

.popular-tag:hover {
    background: var(--accent-color) !important;
    color: white !important;
}

.file-cards-wrapper {
    column-width: 300px;
    column-gap: 10px;
}

.loading-text {
    text-align: center;
    color: var(--text-color)
}

.selected-tag {
    background: var(--accent-color) !important;
    color: white !important;
}

.home-page .search-bar-wrapper {
    width: 100%;
}

.home-page .search-bar {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .home-page {
        min-width: 100%;
    }
}

@media screen and (max-width: 600px) {

}