.navbar { 
    display: flex;
    justify-content: end;
    align-items: center;
    background: var(--accent-gradient);
    height: 70px;
    padding: 20px 10%;
    gap: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow-y: hidden;
}

.nav-link {
    display: flex;
}

.nav-link a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.logo-wrapper {
    margin-right: auto;
}

.logo-wrapper a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-wrapper svg {
    width: 40px;
}

.upload-file-nav-button {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 2px solid white;
    box-shadow: var(--box-shadow);
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.1s ease-in-out;
    background: white;
    color: var(--accent-color);
}

.upload-file-nav-button svg g path {
    fill: var(--accent-color);
    transform: translateY(1px);
    transition: all 0.1s ease-in-out;
}

.upload-file-nav-button:hover {
    
    color: white;
    background: transparent;
}

.upload-file-nav-button:hover svg g path {
    fill: white;
}

.toggle-theme-button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.theme-up {
    animation: move-up 0.2s ease forwards;
}

.theme-down {
    animation: move-down 0.2s ease forwards;
}

@keyframes move-up {
    0% {
        transform: translateY(0);

    }
    100% {
        transform: translateY(-200%);

    }
}

@keyframes move-down {
    0% {
        transform: translateY(200%);

    }
    100% {
        transform: translateY(0);

    }
}

@media screen and (max-width: 600px) {
    .navbar { 
        padding: 20px 2%;
        gap: 30px;
    }
}

@media screen and (max-width: 500px) {
    .navbar { 
        padding: 20px 2%;
        gap: 10px;
    }
}