.navbar { 
    display: flex;
    justify-content: end;
    align-items: center;
    background: var(--accent-gradient);
    height: 60px;
    padding: 20px 10%;
    gap: 20px;
}

.nav-link a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}

.nav-link a:hover {
    opacity: 0.8;
}

.logo-wrapper {
    margin-right: auto;
}

.logo-wrapper a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-wrapper svg {
    width: 40px;
}