.search-bar-wrapper {
    position: relative;
}

.search-bar {
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin-left: auto;
    border: none;
    box-shadow: var(--box-shadow);
}

.search-bar:focus {
    outline: 2px solid var(--accent-color);
}

.clear-input {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .search-bar {
        width: 100%;
    }
}
