.skeleton-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skeleton-tag {
    flex: 1;
    height: 28px;
    background-color: #e0e0e0;
    border-radius: 5px;
    animation: pulse 1.5s infinite;
    padding: 5px 10px;
    min-width: 50px;
}

.skeleton-masonry-image, .skeleton-image {
    background-color: var(--skeleton-pulse1);
    height: 400px;
    animation: pulse 1.5s infinite;
    margin-bottom: 10px;
    border-radius: 5px;
}

.skeleton-image {
    height: 500px;
    width: 400px;
}

@keyframes pulse {
    0% {
        background-color: var(--skeleton-pulse1);
    }
    50% {
        background-color: var(--skeleton-pulse2);
    }
    100% {
        background-color: var(--skeleton-pulse1);
    }
}