@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #3282ec;
  --accent-color-hover: #2b6cc1;
  --accent-gradient: linear-gradient(
    121deg,
    rgba(33, 84, 190, 1) 0%,
    rgba(2, 130, 233, 1) 100%
  );
  --accent-gradient-hover: linear-gradient(
    121deg,
    rgb(21, 67, 167) 0%,
    rgb(2, 109, 196) 100%
  );
  --box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  --button-gradient: linear-gradient(90deg, rgba(0,61,163,1) 0%, rgba(2,130,233,1) 100%);


  --bg-primary: white;
  --bg-secondary: rgb(246, 246, 246);
  --bg-secondary: white;
  --text-color: black;

}

body {
  background-color: var(--bg-primary);
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  --bg-primary: white;
  --bg-secondary: rgb(246, 246, 246);
  --bg-secondary: white;
  --text-color: black;
}

body.dark {
  --bg-primary: rgb(39, 39, 39);
  --bg-secondary: rgb(48, 48, 48);
  --text-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gradient-button {
  background: var(--button-gradient) !important;
  background-size: 200% 100% !important;
  background-position: 100% 0 !important;
  transition: background-position 0.2s ease-in-out;
  color: white !important;
}

.gradient-button:hover {
  background-position: 0 0 !important;
}

.text-gradient {
  background: var(--accent-gradient) !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.animated-text-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px; 
  width: 0%;
  background: white;
  transition: width 0.5s ease; 
}

.animated-text-underline:hover::after {
  width: 100%;
}

.animated-text-underline-gradient::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px; 
  width: 0%;
  background: white;
  transition: width 0.4s ease; 
}

.animated-text-underline-gradient:hover::after {
  width: 100%;
}